@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 48 33% 94%;
    --foreground: 220 10% 15%;
    --card: 0 0% 100%;
    --card-foreground: 220 10% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 220 10% 15%;
    --primary: 34 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 96%;
    --secondary-foreground: 220 10% 25%;
    --muted: 220 10% 96%;
    --muted-foreground: 220 10% 45%;
    --accent: 120 80% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 10% 90%;
    --input: 220 10% 90%;
    --ring: 34 91% 60%;
    --radius: 0.75rem;
  }
  .dark {
    --background: 220 15% 10%;
    --foreground: 220 10% 90%;
    --card: 220 15% 12%;
    --card-foreground: 220 10% 90%;
    --popover: 220 15% 10%;
    --popover-foreground: 220 10% 90%;
    --primary: 34 91% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220, 15%, 18%;
    --secondary-foreground: 220 10% 90%;
    --muted: 220, 15%, 18%;
    --muted-foreground: 220 10% 65%;
    --accent: 120 80% 34%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 15% 20%;
    --input: 220 15% 20%;
    --ring: 34 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
